/* ------------------ VARIABLES ------------------ */

/* COLORS */
$white: rgb(255,255,255);
$color_menu-slide: rgb(255,245,129);
$red: rgb(237, 32, 36);
$orange: rgb(255, 126, 102);
$lightOrange: rgb(255,242,237);
$grey: rgb(159, 145, 151);
$gallery: rgb(255, 242, 237);
$gallery_text: rgb(255, 126, 102);
$gallery_hover: rgba(240, 27, 22, .8);
$gallery_minus: rgb(255,244,129);
$contact_dark-grey: rgb(70,70,70);
$contact_light-grey: rgb(129,134,142);
$contact_bcg: rgb(255, 242, 237);


/* FONTS */
$menu-font-family: 'Fjalla One', sans-serif;
$handwriting-font-family: 'Norican', cursive;



/* ------------------ ANIMATIONS ------------------ */

@keyframes pulseRight {
  from {
    right: -60px;
  }

  to {
    right: -65px;
  }
}

@keyframes pulseLeft {
  from {
    left: -60px;
  }

  to {
    left: -65px;
  }
}

@keyframes pulseDownTop {
  from {
    bottom: 120px;
  }
  to {
    bottom: 130px;
  }
}

@keyframes pulseDown {
  from{
    bottom: 135px;
  }
  to {
    bottom: 145px;
  }
}

@keyframes slideInLeft {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

/* ------------------ MIXINS ------------------ */

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin center_flex {
  justify-content: center;
  align-items: center;
}

@mixin background-center($url) {
  background: url($url) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin transparent {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

@mixin menu_transition {
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
}

/* ------------------ PROPER CONTENT ------------------ */

body {
  background-color: $white;
  margin: 0;
}

.body-content-wrap {
  width: 100vw;
  max-width: 1440px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.section-content-wrap {
  //background-color: yellow;
  height: 100%;
  width: 75%;
  @include flexbox;
}

.header {
  background-color: $white;
  width: 100%;
  height: 75px;
  @include flexbox;
  @include center_flex;
  position: relative;
  .section-content-wrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  z-index: 10;
}

.site-logo {
  width: 60px;
  height: auto;
  position: relative;
  left: 38px;
  bottom: 3px;
  img {
    width: 100%;
    height: auto;
  }
}

.menu-nav {
  width: 75%;
}

.menu-list {
  @include flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-list-li {
  list-style: none;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 30px;
    background-color: $color_menu-slide;
    position: absolute;
    left: -1500px;
    top: 4px;
    @include menu_transition;
  }
}

.menu-list-li:first-child {
  margin-left: -40px;
}

.menu-list-li a {
  text-decoration: none;
  color: rgb(0,0,0);
  font-family: $menu-font-family;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative;
}

@for $i from 1 through 7 {
  .menu-list li:nth-of-type(#{$i}):hover {
    &:before {
      left: -2px;
    }
  }
}

.cover-slider {
  background-color: rgb(0,0,0);
  width: 100%;
  height: 705px;
  margin-top: -75px;
  position: relative;
  z-index: 1;
  @include flexbox;
  @include center_flex;
  overflow: hidden;
  .section-content-wrap {
    //background-color: yellow;
    @include center_flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }
}

.main-title {
  font-family: $handwriting-font-family;
  font-size: 90px;
  font-style: italic;
  color: $red;
  text-shadow: 0px 7px 3px $white, -7px 0 3px $white, 0 -7px 3px $white, 7px 0 3px $white;
  position: relative;
  top: -20px;
}

.welcome {
  font-family: $menu-font-family;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: $white;
  font-weight: normal;
  position: relative;
  top: -85px;
}


.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -ms-transition: left 1;
  -o-transition: left 1s;
  transition: left 1s;
}

.slide-1 {
  @include background-center("../images/slide1.png");
  background-position: top;
  left: -100vw;
}

.slide-2 {
  @include background-center("../images/slide2.png");
  background-position: top;
  left: 0;
}

.slide-3 {
  @include background-center("../images/slide3.png");
  background-position: top;
  left: 100vw;
}


.arrow {
  border: solid rgba(255,255,255,.8);
  border-width: 0 5px 5px 0;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
}

.left {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  animation-name: pulseLeft;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  left: 0;
  top: 50%;
}

.right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation-name: pulseRight;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  right: 0;
  top: 50%;
}

.down{
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDown;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  left: 50%;
}

.downTop {
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDownTop;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  left: 50%;
}

.moveRight {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: 100%;
}

.moveLeft {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: -100%;
}


.reservation {
  @include flexbox;
  @include center_flex;
  padding: 100px;
  .section-content-wrap {
    @include center_flex;
    flex-direction: column;
  }
}

.section-title {
  font-family: $menu-font-family;
  font-size: 30px;
  letter-spacing: 3px;
  color: $red;
  text-transform: uppercase;
}

.handwriting {
  font-family: $handwriting-font-family;
  font-size: 40px;
  text-transform: none;
}

.description {
  font-family: $menu-font-family;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
  width: 100%;
  color: $grey;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: $orange;
  border: none;
  font-family: $menu-font-family;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: $red;
  }
}

.cooking {
  width: 100%;
  background-color: $lightOrange;
  @include flexbox;
  flex-direction: row;
  .section-title {
    width: 40%;
    color: $orange;
    text-align: center;
  }
  .description {
    width: 80%;
  }
}

.photo-box {
  width: 100%;
  @include background-center("../images/cooking-main.png");
}

.text-box {
  width: 100%;
  @include flexbox;
  @include center_flex;
  flex-direction: column;
  padding: 100px 0;
}

.img_cooking {
  width: 152px;
  height: auto;
}

.baking {
  @include flexbox;
  @include center_flex;
  padding: 100px;
  .section-content-wrap {
    @include center_flex;
    flex-direction: column;
  }
}

.menu-slider {
  width: 100%;
  background-color: black;
  .section-content-wrap {
    @include center_flex;
    flex-direction: column;
    position: relative;
  }
  .text-box {
    width: 50%;
    min-width: 400px;
    height: 100%;
    align-self: flex-end;
    @include flexbox;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.menu-slide {
  width: 100%;
  height: 600px;
  @include flexbox;
  @include center_flex;
}

.menu-slide-1 {
  @include background-center("../images/lemon-cake.png");
  display: none;

}

.menu-slide-2 {
  @include background-center("../images/thanksgiving.png");
  display: flex;
}

.menu-slide-3 {
  @include background-center("../images/coffee.png");
  display: none;
}

.menu-title {
  font-family: $handwriting-font-family;
  font-size: 60px;
  font-style: italic;
  color: $red;
  text-shadow: 0px 7px 3px $white, -7px 0 3px $white, 0 -7px 3px $white, 7px 0 3px $white;
  width: 60%;
  margin: 0;
  margin-bottom: 20px;
}

.menu-description {
  text-align: left;
  color: $white;
  font-size: 15px;
  font-weight: 100;
}

.price {
  color: $white;
  font-size: 35px;
}

.menu-btn {
  padding: 15px 25px;
  border: 1px solid $white;
  font-family: $menu-font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  &:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: $red;
  }
}

.menu-btn-media {
  display: none;
}

.shop {
  background-color: $white;
  @include flexbox;
  justify-content: center;
}

.online-shopping {
  @include flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.icon {
  margin: 40px 0;
  @include flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon_title {
  font-family: $menu-font-family;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight:500;
}

.vertical-line {
  content: "";
  background-color: rgb(0,0,0);
  height: 100px;
  width: 1px;
}


.icon_online-shop {
  width: 109px;
  height: 83px;
}

.icon_free-shipping {
  width: 157px;
  height: 85px;
}

.icon_qual-products {
  width: 105px;
  height: 81px;
}

.gallery {
  width: 100%;
}

.gallery_row {
  background-color: rebeccapurple;
  width: 100%;
  @include flexbox;
  flex-direction: row;
}

.gallery_nameBox {
  background-color: $gallery;
  @include flexbox;
  flex-direction: column;
  @include center_flex;
  font-family: $menu-font-family;
  text-transform: uppercase;
  text-decoration: none;
  color: $gallery_text;
  font-size: 30px;
}

.item-small {
  width: 50%;
  height: 300px;
  min-width: 260px;
  cursor: pointer;
  @include flexbox;
  @include center_flex;
}

.item-big {
  width: 100%;
  height: 300px;
  cursor: pointer;
  @include flexbox;
  @include center_flex;
}

.item-1 {
  @include background-center("../images/gllery_ice-cream.png");
}

.item-2 {
  @include background-center("../images/gllery_cake.png");
}

.item-3 {
  @include background-center("../images/gllery_cookies.png");
}

.item-4 {
  @include background-center("../images/gllery_cake-blah.png");
}

.item-5 {
  @include background-center("../images/gllery_fastfood.png");
}

.gallery_hover {
  width: 0;
  height: 0;
  background-color: $gallery_hover;
  @include flexbox;
  @include center_flex;
  flex-direction: column;
  overflow: hidden;
}

.gallery_text {
  font-family: $menu-font-family;
  text-transform: uppercase;
  color: $white;
  font-size: 30px;
  margin-bottom: -20px;
  width: 70%;
  text-align: center;
}

.gallery_minus {
  font-family: $menu-font-family;
  text-transform: uppercase;
  color: $gallery_minus;
  font-size: 30px;
}

.gallery_item:hover {
  .gallery_hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 80%;
    height: 80%;
  }
}

.blog {
  @include flexbox;
  @include center_flex;
  flex-direction: column;
  padding: 100px;
  background-color: $white;
  .section-content-wrap {
    @include center_flex;
    flex-direction: column;
  }
}

.recipes_row {
  @include flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.recipe {
  width: 250px;
  height: 380px;
  background-color: darkseagreen;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0 10px;
}


.recipe_circle {
  width: 280px;
  height: 280px;
  background-color: $white;
  border-radius: 100%;
  position: absolute;
  top: -120px;
  left: -15px;
  -webkit-box-shadow: 1px 2px 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 1px 2px 1px 2px rgba(0,0,0,.3);
  box-shadow: 1px 2px 1px 2px rgba(0,0,0,.3);
  overflow: hidden;
  .btn {
    width: 80px;
    height: 40px;
    position: relative;
    top: 250px;
  }
}

.recipe-title {
  color: rgb(0,0,0);
}

.recipe-handwriting {
  color: $red;
  margin-top: -20px;
}

.recipe-text {
  font-size: 25px;
  position: relative;
  z-index: 10;
  top: 20px;
}

.recipe-1 {
  @include background-center("../images/blog_pancakes.png");
}

.recipe-2 {
  @include background-center("../images/blog_sandwich.png");
}

.recipe-3 {
  @include background-center("../images/blog_breakfast.png");
}

.recipe-4 {
  @include background-center("../images/blog_pizza.png");
}

.recipe:hover {
  top:15px;
  .recipe_circle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 400px;
    height: 400px;
    left: -75px;
    top: -120px;
  }
}


.contact {
  height: auto;
  min-height: 400px;
  padding: 100px;
  @include background-center("../images/contact-background.png");
  position: relative;
}

.blackfilter {
  @include flexbox;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.contact-title {
  color: $white;
}

.contact-handwriting {
  color: $white;
}

.contact-form {
  width: 80%;
  @include flexbox;
  @include center_flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  fieldset {
    border: none;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

::-webkit-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

::placeholder {
  color: $white;
}

.contact-form_info {
  height: 40px;
  position: relative;
  label {
    display: none;
  }
}

.form-input {
  width: 240px;
  height: 30px;
  font-family: $menu-font-family;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  position: absolute;
  &:nth-of-type(1){
    left: 5px;
  }
  &:nth-of-type(2){
    left: 37%;
  }
  &:nth-of-type(3){
    right: 5px;
  }
  &:focus {
    box-shadow: 1px 1px 5px $white;
  }
}


.form-message {
  height: 250px;
  width: 99.5%;
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid $white;
  font-family: $menu-font-family;
  font-size: 14px;
  color: $white;
  padding: 5px;
  &:focus {
    box-shadow: 1px 1px 5px $white;
  }
}

.form-btn {
  width: 101%;
}

.contact-info {
  background-color: $contact_bcg;
  @include flexbox;
  @include center_flex;
  .section-content-wrap {
    @include flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.contact-info-elem {
  background-color: $white;
  width: 250px;
  height: 250px;
  margin: 40px 10px;
}

.contact-icon {
  height: 50%;
  width: 100%;
  @include flexbox;
  @include center_flex;
  background-color: rgb(0,0,0);
}

.contact-data {
  @include flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: $menu-font-family;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  h4 {
    color: $contact_dark-grey;
    font-size: 17px;
  }
  a {
    color: $contact_light-grey;
    font-size: 15px;
    text-decoration: none;
  }
}

.mail-icon {
  @include background-center("../images/contact_email.png");
}

.address-icon {
  @include background-center("../images/contact_adres.png");
}

.tel-icon {
  @include background-center("../images/contact_phone.png");
}

.location {
  height: 600px;
  background-color: rgb(0,0,0);
  position: relative;
  &:hover {
    .blackfilter {
      display: none;
    }
  }
  .blackfilter {
    justify-content: center;
    .section-title {
      color: $white;
      font-size: 20px;
      position: relative;
      top: 40px;
      z-index: 10;
    }
    .handwriting {
      font-size: 24px;
    }

    .bck-circle {
      width: 52px;
      height: 52px;
      background-color: $red;
      position: relative;
      top: -22px;
      left: -38px;
      border-radius: 50px;
      z-index: 1;
    }
  }
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer {
  @include flexbox;
  @include center_flex;
  padding: 20px 0;
  .section-content-wrap {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  text-decoration: none;
  color: $red;
  font-size: 45px;
}

.rights {
  font-family: $menu-font-family;
  font-size: 15px;
  letter-spacing: 1px;
  color: $contact_light-grey;
}

@media all and (max-width: 1100px){

  .gallery_row {
    flex-direction: row;
    flex-wrap: wrap;
  }


  .contact {
    height: 500px;
  }

  .contact-form_info {
    height: 150px;
  }

  .form-input {
    width: 200px;
    margin: 10px 0;
    position: static;
  }

}//media < 1050px

@media all and (max-width: 900px) {

  .left {
    margin-left: 20px;
  }

  .right {
    margin-right: 20px;
  }

  .menu-btn {
    padding: 15px 25px;
    border: 1px solid $white;
    font-family: $menu-font-family;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    background-color: $red;
    &:hover {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      color: $red;
      background-color: $color_menu-slide;
    }
    &.active {
      color: $red;
      background-color: $color_menu-slide;
    }
  }

  .menu-btn-media {
    display: block;
    position: absolute;
    top: 11px;
    right: 40px;
  }

  .header {
    height: 65px;
    position: fixed;
    background-color: rgba(255,255,255,0.95);
  }

  .site-logo {
    width: 50px;
  }


  .menu-list {
    width: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 49px;
    background-color: $orange;
    overflow: hidden;
    height: auto;
    border-bottom-left-radius: 20px;
    &.active {
      -webkit-animation-name: slideInLeft;
      -moz-animation-name: slideInLeft;
      -o-animation-name: slideInLeft;
      animation-name: slideInLeft;
      animation-duration: 1s;
      width: 200px;
    }
  }

  .menu-list-li {
    padding: 10px;
    padding-right: 40px;
  }

  .menu-list-li:first-child {
    padding-top: 30px;
    &:before {
      top: 25px;
    }
  }

  .menu-list-li:last-child {
    padding-bottom: 30px;
  }



}//media < 900px

@media all and (max-width: 540px){


  .photo-box {
    display: none;
  }




  .menu-title {
    font-family: $handwriting-font-family;
    font-size: 60px;
    font-style: italic;
    color: $red;
    text-shadow: 0px 7px 3px $white, -7px 0 3px $white, 0 -7px 3px $white, 7px 0 3px $white;
    width: 60%;
    margin: 0;
    margin-bottom: 20px;
  }

  .menu-description {
    text-align: left;
    color: rgba(0,0,0,.8);
    font-size: 15px;
    font-weight: 100;
    background-color: rgba(255,255,255,.5);
    width: 80%;
    margin-left: 40px;
    padding: 20px;
  }

  .price {
    color: $white;
    font-size: 35px;
  }

  .menu-btn {
    padding: 15px 25px;
    border: 1px solid $white;
    font-family: $menu-font-family;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    &:hover {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      background-color: $red;
    }
  }

  .text-box {
    padding: 80px 0;
  }

  .item-small {
    width: 100%;
  }

}//media < 540px