/* ------------------ VARIABLES ------------------ */
/* COLORS */
/* FONTS */
/* ------------------ ANIMATIONS ------------------ */
@keyframes pulseRight {
  from {
    right: -60px; }
  to {
    right: -65px; } }

@keyframes pulseLeft {
  from {
    left: -60px; }
  to {
    left: -65px; } }

@keyframes pulseDownTop {
  from {
    bottom: 120px; }
  to {
    bottom: 130px; } }

@keyframes pulseDown {
  from {
    bottom: 135px; }
  to {
    bottom: 145px; } }

/* ------------------ MIXINS ------------------ */
/* ------------------ PROPER CONTENT ------------------ */
body {
  background-color: white;
  margin: 0; }

.body-content-wrap {
  height: 100%;
  width: 100vw;
  max-width: 1440px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.section-content-wrap {
  height: 100%;
  width: 75%; }

.header {
  background-color: white;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; }
  .header .section-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }

.site-logo {
  width: 60px;
  height: auto;
  position: relative;
  left: 38px;
  bottom: 3px; }
  .site-logo img {
    width: 100%;
    height: auto; }

.menu-nav {
  width: 75%; }

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.menu-list li {
  list-style: none;
  position: relative; }
  .menu-list li:before {
    content: "";
    width: 100%;
    height: 30px;
    background-color: #fff581;
    position: absolute;
    left: -1500px;
    top: 4px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
    /* Opera */ }

.menu-list li:first-child {
  margin-left: -40px; }

.menu-list li a {
  text-decoration: none;
  color: black;
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative; }

.menu-list li:nth-of-type(1):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(2):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(3):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(4):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(5):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(6):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(7):hover:before {
  left: -2px; }

.cover-slider {
  background-color: indianred;
  width: 100%;
  height: 705px;
  margin-top: -75px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }
  .cover-slider .section-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1; }

.main-title {
  font-family: "Norican", cursive;
  font-size: 90px;
  font-style: italic;
  color: #ed2024;
  text-shadow: 0px 7px 3px white, -7px 0 3px white, 0 -7px 3px white, 7px 0 3px white;
  position: relative;
  top: -20px; }

.welcome {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: white;
  font-weight: normal;
  position: relative;
  top: -85px; }

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  display: none; }

.slide-1 {
  background: url("../images/slide1.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  display: block; }

.slide-2 {
  background-color: darkseagreen; }

.slide-3 {
  background-color: #ed2024; }

.arrow {
  border: solid rgba(255, 255, 255, 0.8);
  border-width: 0 5px 5px 0;
  border-radius: 4px;
  padding: 10px;
  position: absolute; }

.left {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  animation-name: pulseLeft;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation-name: pulseRight;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.down {
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDown;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.downTop {
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDownTop;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.reservation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px; }
  .reservation .section-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.section-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ed2024;
  text-transform: uppercase; }

.handwriting {
  font-family: "Norican", cursive;
  font-size: 40px;
  text-transform: none; }

.description {
  font-family: "Fjalla One", sans-serif;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
  width: 80%;
  color: #9f9197; }

.btn {
  width: 200px;
  height: 50px;
  background-color: #ff7e66;
  border: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-top: 40px; }
  .btn:hover {
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #ed2024; }

.cooking {
  width: 100%;
  background-color: #fff2ed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row; }
  .cooking .section-title {
    width: 40%;
    color: #ff7e66;
    text-align: center; }

.photo-box {
  width: 100%;
  background: url("../images/cooking-main.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.text-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0; }

.img_cooking {
  width: 152px;
  height: auto; }

.baking {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px; }
  .baking .section-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
