/* ------------------ VARIABLES ------------------ */
/* COLORS */
/* FONTS */
/* ------------------ ANIMATIONS ------------------ */
@keyframes pulseRight {
  from {
    right: -60px; }
  to {
    right: -65px; } }

@keyframes pulseLeft {
  from {
    left: -60px; }
  to {
    left: -65px; } }

@keyframes pulseDownTop {
  from {
    bottom: 120px; }
  to {
    bottom: 130px; } }

@keyframes pulseDown {
  from {
    bottom: 135px; }
  to {
    bottom: 145px; } }

/* ------------------ MIXINS ------------------ */
/* ------------------ PROPER CONTENT ------------------ */
body {
  background-color: white;
  margin: 0; }

.body-content-wrap {
  height: 100%;
  width: 100vw;
  max-width: 1440px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.section-content-wrap {
  height: 100%;
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header {
  background-color: white;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; }
  .header .section-content-wrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }

.site-logo {
  width: 60px;
  height: auto;
  position: relative;
  left: 38px;
  bottom: 3px; }
  .site-logo img {
    width: 100%;
    height: auto; }

.menu-nav {
  width: 75%; }

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.menu-list li {
  list-style: none;
  position: relative; }
  .menu-list li:before {
    content: "";
    width: 100%;
    height: 30px;
    background-color: #fff581;
    position: absolute;
    left: -1500px;
    top: 4px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
    /* Opera */ }

.menu-list li:first-child {
  margin-left: -40px; }

.menu-list li a {
  text-decoration: none;
  color: black;
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative; }

.menu-list li:nth-of-type(1):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(2):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(3):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(4):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(5):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(6):hover:before {
  left: -2px; }

.menu-list li:nth-of-type(7):hover:before {
  left: -2px; }

.cover-slider {
  background-color: indianred;
  width: 100%;
  height: 705px;
  margin-top: -75px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }
  .cover-slider .section-content-wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1; }

.main-title {
  font-family: "Norican", cursive;
  font-size: 90px;
  font-style: italic;
  color: #ed2024;
  text-shadow: 0px 7px 3px white, -7px 0 3px white, 0 -7px 3px white, 7px 0 3px white;
  position: relative;
  top: -20px; }

.welcome {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: white;
  font-weight: normal;
  position: relative;
  top: -85px; }

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */ }

.slide-1 {
  background: url("../images/slide1.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top; }

.slide-2 {
  background-color: darkseagreen; }

.slide-3 {
  background-color: #ed2024; }

.arrow {
  border: solid rgba(255, 255, 255, 0.8);
  border-width: 0 5px 5px 0;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  cursor: pointer; }

.left {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  animation-name: pulseLeft;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation-name: pulseRight;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.down {
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDown;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.downTop {
  border-width: 0 2px 2px 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation-name: pulseDownTop;
  animation-duration: .8s;
  animation-iteration-count: infinite; }

.moveRight {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: 100%; }

.moveLeft {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: -100%; }

.reservation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px; }
  .reservation .section-content-wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.section-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ed2024;
  text-transform: uppercase; }

.handwriting {
  font-family: "Norican", cursive;
  font-size: 40px;
  text-transform: none; }

.description {
  font-family: "Fjalla One", sans-serif;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
  width: 100%;
  color: #9f9197; }

.btn {
  width: 200px;
  height: 50px;
  background-color: #ff7e66;
  border: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-top: 40px; }
  .btn:hover {
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #ed2024; }

.cooking {
  width: 100%;
  background-color: #fff2ed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row; }
  .cooking .section-title {
    width: 40%;
    color: #ff7e66;
    text-align: center; }
  .cooking .description {
    width: 80%; }

.photo-box {
  width: 100%;
  background: url("../images/cooking-main.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.text-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0; }

.img_cooking {
  width: 152px;
  height: auto; }

.baking {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px; }
  .baking .section-content-wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.menu-slider {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .menu-slider .section-content-wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1; }
  .menu-slider .text-box {
    width: 50%;
    min-width: 400px;
    height: 100%;
    align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; }

.menu-slide {
  width: 100%;
  height: 100%;
  position: absolute; }

.menu-slide-1 {
  background: url("../images/lemon-cake.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.menu-title {
  font-family: "Norican", cursive;
  font-size: 60px;
  font-style: italic;
  color: #ed2024;
  text-shadow: 0px 7px 3px white, -7px 0 3px white, 0 -7px 3px white, 7px 0 3px white;
  width: 60%;
  margin: 0;
  margin-bottom: 20px; }

.menu-description {
  text-align: left;
  color: white;
  font-size: 15px;
  font-weight: 100; }

.price {
  color: white;
  font-size: 35px; }

.menu-btn {
  padding: 15px 25px;
  border: 1px solid white;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white; }
  .menu-btn:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #ed2024; }

.shop {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }

.online-shopping {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%; }

.icon {
  margin: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.icon_title {
  font-family: "Fjalla One", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight: 500; }

.vertical-line {
  content: "";
  background-color: black;
  height: 100px;
  width: 1px; }

.icon_online-shop {
  width: 109px;
  height: 83px; }

.icon_free-shipping {
  width: 157px;
  height: 85px; }

.icon_qual-products {
  width: 105px;
  height: 81px; }

.gallery {
  width: 100%; }

.gallery_row {
  background-color: rebeccapurple;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row; }

.gallery_nameBox {
  background-color: #fff2ed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff7e66;
  font-size: 30px; }

.item-small {
  width: 50%;
  height: 300px;
  min-width: 260px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.item-big {
  width: 100%;
  height: 300px;
  min-width: 520px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.item-1 {
  background: url("../images/gllery_ice-cream.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.item-2 {
  background: url("../images/gllery_cake.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.item-3 {
  background: url("../images/gllery_cookies.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.item-4 {
  background: url("../images/gllery_cake-blah.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.item-5 {
  background: url("../images/gllery_fastfood.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.gallery_hover {
  width: 0;
  height: 0;
  background-color: rgba(240, 27, 22, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }

.gallery_text {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  margin-bottom: -20px;
  width: 70%;
  text-align: center; }

.gallery_minus {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: #fff481;
  font-size: 30px; }

.gallery_item:hover .gallery_hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 80%;
  height: 80%; }

.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: white; }
  .blog .section-content-wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.recipes_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; }

.recipe {
  width: 250px;
  height: 380px;
  background-color: darkseagreen;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0 10px; }

.recipe_circle {
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: -120px;
  left: -15px;
  -webkit-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .recipe_circle .btn {
    width: 80px;
    height: 40px;
    position: relative;
    top: 250px; }

.recipe-title {
  color: black; }

.recipe-handwriting {
  color: #ed2024;
  margin-top: -20px; }

.recipe-text {
  font-size: 25px;
  position: relative;
  z-index: 10;
  top: 20px; }

.recipe-1 {
  background: url("../images/blog_pancakes.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.recipe-2 {
  background: url("../images/blog_sandwich.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.recipe-3 {
  background: url("../images/blog_breakfast.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.recipe-4 {
  background: url("../images/blog_pizza.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.recipe:hover {
  top: 15px; }
  .recipe:hover .recipe_circle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 400px;
    height: 400px;
    left: -75px;
    top: -120px; }

.contact {
  height: auto;
  min-height: 400px;
  padding: 100px;
  background: url("../images/contact-background.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }

.blackfilter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.contact-title {
  color: white; }

.contact-handwriting {
  color: white; }

.contact-form {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .contact-form fieldset {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }

::-webkit-input-placeholder {
  color: white; }

::-moz-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

::placeholder {
  color: white; }

.form-input {
  width: 100%;
  height: 30px;
  margin: 0 20px;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white; }
  .form-input:nth-of-type(1) {
    margin-left: 0; }
  .form-input:nth-of-type(3) {
    margin-right: 0; }

.form-message {
  height: 250px;
  width: 99.5%;
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid white;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  color: white;
  padding: 5px; }

.form-btn {
  width: 101%; }

.contact-form_info label {
  display: none; }

.contact-info {
  background-color: #fff2ed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-info .section-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }

.contact-info-elem {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 40px 10px; }

.contact-icon {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }

.contact-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }
  .contact-data h4 {
    color: #464646;
    font-size: 17px; }
  .contact-data a {
    color: #81868e;
    font-size: 15px;
    text-decoration: none; }

.mail-icon {
  background: url("../images/contact_email.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.address-icon {
  background: url("../images/contact_adres.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.tel-icon {
  background: url("../images/contact_phone.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.location {
  height: 600px;
  background-color: black;
  position: relative; }
  .location:hover .blackfilter {
    display: none; }
  .location .blackfilter {
    justify-content: center; }
    .location .blackfilter .section-title {
      color: white;
      font-size: 20px;
      position: relative;
      top: 40px;
      z-index: 10; }
    .location .blackfilter .handwriting {
      font-size: 24px; }
    .location .blackfilter .bck-circle {
      width: 52px;
      height: 52px;
      background-color: #ed2024;
      position: relative;
      top: -22px;
      left: -38px;
      border-radius: 50px;
      z-index: 1; }

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
